<div class="modal right-aligned-modal fade" bsModal #DescriptionScreenModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please Add Description</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-4">
                        <p>Enter the Question</p>
                        <input type="text" class="form-control" [(ngModel)]="descques" />
                </div>
                <div class="mb-4">
                    <p>Enter the Description</p>
                    <textarea class="form-control" rows="10"  cols="20" [(ngModel)]="descdescription" ></textarea>
                </div>
                <!-- <div class="mb-4">
                    <label for="text" class="form-label">Description</label>
                    <ckeditor [editor]="Editor" [(ngModel)]="descdescription" name="description" class="large-editor">
                    </ckeditor>
                </div> -->
                <div class="mb-4">
                    <p>Enter the Button Name</p>
                    <input type="text" class="form-control" [(ngModel)]="descbutton"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="continueClicked()" class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
    
</div>

