<div class="modal right-aligned-modal fade" bsModal #NameModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your Name</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="questions && questions.length > 0">
                    <div *ngFor="let question of questions; let i = index">
                        <div class="mb-4">

                            <div class="infocircle justify-content-start">
                                <label for="surveyname" class="form-label">Enter Your Question</label>
                                <div class="mb-2" *ngIf="quesserialno === 'true'">
                                    <div class="custom-tooltip ms-2">
                                        <ng-icon name="heroInformationCircle" ngClass="edit-action info-circle"
                                            (click)="toggleTooltip('1')"></ng-icon>
                                        <div class="toast show" *ngIf="showTooltip['1']">
                                            <div class="toast-header">
                                                <img [src]="baseUrl + '/assets/images/icons/Add-new-question.png'" class="rounded me-2"
                                                    width="30" height="30" />
                                                <h6 class="mb-0 me-auto">Add Custom Serial Number</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                                                    (click)="hideTooltip('1')"></button>
                                            </div>
                                            <div class="toast-body">
                                                S.no will only indicate the question numbers and will not determine the position of the question in the survey.
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                            <!-- <div class="input-group">
                                <input type="text" class="form-control" [ngModel]="question.question" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="question.question = $event" id="{{ 'question_' + i }}"
                                    name="{{ 'question_' + i }}" readonly/>
                            </div> -->
                            <div >
                                <div class="d-flex gap-2">
                                    <div class="flex-1" *ngIf="quesserialno === 'true'">
                                        <input type="text" id="qNo" name="qNo" class="form-control"  [(ngModel)]="qNo" placeholder="S.No" (blur)="validateSurvey()" [ngModelOptions]="{standalone: true}"/>
                                        <div *ngIf="!getSerialNumberreq" class="text-danger">S.no is required.</div>
                                    </div>
                                    <div class="flex-5">
                                        <input type="text" class="form-control" [ngModel]="question.question" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="question.question = $event" id="{{ 'question_' + i }}"
                                    name="{{ 'question_' + i }}" readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div ngClass="select-options">
                                <h5>Select Options</h5>
                            </div>
                            <div ngClass="nametext mb-4">
                                <p>Name</p>
                                <input type="text" class="form-control" />
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="continueClicked()"  class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
</div>