<div class="modal center-aligned-modal fade" bsModal #ProfileId="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Your New Survey</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body popup-ques">

            </div>
            <div class="modal-footer upload">
                <button type="button" class="btn close" (click)="close()">Cancel</button>
                <a href="javascript:void(0);" type="button" class="btn btn-primary icon"
                    (click)="createSurvey();">Create
                    <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon>
                </a>
            </div>
        </div>
    </div>
</div>