<div class="modal center-aligned-modal fade" bsModal #CreateSurveyModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create A New Survey with Scrip8</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body popup-ques">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Survey Name</label>
                        <input id="surveyname" type="text" class="form-control" [(ngModel)]="surveyName"
                            [ngModelOptions]="{standalone: true}" name="surveyName" (blur)="validateSurvey()" />
                        <div *ngIf="!surveyNameCheck" class="text-danger">Survey Name is required.</div>
                    </div>

                    <!-- <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Survey Name</label>
                        <div class="position-relative">
                            <input
                                id="surveyname"
                                type="text"
                                class="form-control"
                                [(ngModel)]="surveyName"
                                [ngModelOptions]="{ standalone: true }"
                                name="surveyName"
                                (blur)="validateSurvey()"
                                (input)="onSurveyNameInput(surveyName)"  
                            />
                            <div *ngIf="!surveyNameCheck" class="text-danger">Survey Name is required.</div>
                        
                            <div *ngIf="suggestions.length > 0" class="suggestions-dropdown">
                                <div class="suggestion-item">
                                    <span
                                        *ngFor="let suggestion of suggestions"
                                        (click)="selectSuggestion(suggestion)"
                                        
                                    >
                                        {{ suggestion }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    

                    <div class="mb-4">
                        <label class="form-label">Select Your Country</label>

                        <!-- <mat-form-field>
                            <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country">
                                <mat-select-trigger>
                                    <img *ngIf="selectedCountry && selectedCountry.images"
                                        [src]="baseUrl + '/assets/images/country-flag/' + selectedCountry.images"
                                        class="me-2 rounded-circle" style="width: 30px;height: 30px;" />
                                        {{selectedCountry ? selectedCountry.name : ''}}
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of country" [value]="item" >
                                    <img *ngIf="item.images"
                                        [src]="baseUrl + '/assets/images/country-flag/' + item.images"
                                        class="me-2 rounded-circle" style="width: 30px;height: 30px;" />
                                   {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <mat-form-field>
                            <mat-select
                              name="countryString"
                              [(ngModel)]="selectedCountry"
                              (ngModelChange)="onCountrySelectionChange($event)"
                              placeholder="Country"
                              multiple
                            >
                              <mat-select-trigger>
                                <ng-container>
                                   
                                    <ng-container *ngFor="let country of selectedCountry">
                                      <img
                                        *ngIf="country.images"
                                        [src]="baseUrl + '/assets/images/country-flag/' + country.images"
                                        class="me-2 rounded-circle"
                                        style="width: 30px; height: 30px;"
                                      />
                                    </ng-container>
                                    {{ getCountryNames() }}
                                  </ng-container>
                                  
                              </mat-select-trigger>
                          
                              <mat-option *ngFor="let item of country" [value]="item">
                                <img
                                  *ngIf="item.images"
                                  [src]="baseUrl + '/assets/images/country-flag/' + item.images"
                                  class="me-2 rounded-circle"
                                  style="width: 30px; height: 30px;"
                                />
                                {{ item.name }}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                          
                          

                        <div *ngIf="!countryNameCheck" class="text-danger">Country is required.</div>
                    </div>
                    <div class="mb-4 search-categories input-icon">
                        <label class="form-label">Select The Survey Category</label>
                        <mat-form-field>
                            <ng-icon name="heroMagnifyingGlass" class=""></ng-icon>
                            <input type="text" placeholder="Search..." matInput [formControl]="searchControl"
                                [matAutocomplete]="auto" [(ngModel)]="selectedOption" (blur)="validateSurvey()" />
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterOptions($event)">
                                <mat-option *ngFor="let option of options" [value]="option.id">
                                    {{ option.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="!categoryNameCheck" class="text-danger">Category is required.</div>
                    </div>
                    <div class="mb-4" *ngIf="selectedOption === 'Others'">
                        <label for="categoryName" class="form-label">Enter Category Name</label>
                        <input id="categoryName" type="text" class="form-control" [(ngModel)]="categoryName"
                            name="categoryName" (blur)="validateSurvey()" [ngModelOptions]="{standalone: true}" />
                        <div *ngIf="!otherCategoryCheck" class="text-danger">Category Name is required.</div>
                    </div>
                    <hr>
                    <div>
                        <a *ngIf="!showAvalibility" href="javascript:void(0);" type="button" class=""
                            (click)="showSerialAvailability()">More
                        </a>
                        <a *ngIf="showAvalibility" href="javascript:void(0);" type="button" class=""
                            (click)="hideSerialAvailability()">Less
                        </a>
                    </div>
                    <ng-container *ngIf="showAvalibility">
                        <div class="d-flex justify-content-between align-items-center mt-4" *ngIf="planid == 2500 || planid == 0">
                            <div class="">
                                <h5 for="">Add Custom Serial Number</h5>
                                <div class="mt-2">
                                    <p class="mb-0">If you want to add your Custom Serial Number in your survey. you need to
                                        check
                                        the toggle.
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        [(ngModel)]="isQNumberRequired" [ngModelOptions]="{standalone: true}"
                                        name="isChecked" (change)="onCheckboxChange($event)"
                                        style="width: 2.5rem;height: 1.4rem;">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3" *ngIf="planid == 2500 || planid == 0">
                            <hr>
                            <h5 for="" class="mt-2">Device Avalibility</h5>
                            
                            <div class="d-flex justify-content-between align-items-center mt-2" >
                                <div class="">
                                    <div class="mt-2">
                                        <p class="mb-0">Desktop
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            [(ngModel)]="isdesktopRequired" [ngModelOptions]="{standalone: true}"
                                            name="isChecked" (change)="onDesktopReq($event)"
                                            style="width: 2.5rem;height: 1.4rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2" >
                                <div class="">
                                    <div class="mt-2">
                                        <p class="mb-0">Mobile
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            [(ngModel)]="isMobileRequired" [ngModelOptions]="{standalone: true}"
                                            name="isChecked" (change)="onMobileReq($event)"
                                            style="width: 2.5rem;height: 1.4rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2" >
                                <div class="">
                                    <div class="mt-2">
                                        <p class="mb-0">Tablet
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            [(ngModel)]="isTabletRequired" [ngModelOptions]="{standalone: true}"
                                            name="isChecked" (change)="onTabletReq($event)"
                                            style="width: 2.5rem;height: 1.4rem;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-container>
                    
                </form>
            </div>
            <div class="modal-footer upload">
                <button type="button" class="btn close" (click)="close()">Cancel</button>
                <a href="javascript:void(0);" type="button" class="btn btn-primary icon"
                    (click)="createSurvey();">Create
                    <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon>
                </a>
            </div>
        </div>
    </div>
</div>